*{
    margin: 0;
    padding: 0;
}
:root{
    --titles-color:hsl(210, 10%, 33%);
    --descriptions-color:hsl(201, 11%, 66%);

}
/* =========================== header ========================= */
.header{
    background-image: url(./images/bg-header-desktop.png);
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3.5em 5.5em;
}
.header .header-img{
    height: 115px;
}
.header .header-title{
    padding-top: 1em;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Bai Jamjuree", sans-serif;
    color: var(--titles-color);
}
.header .header-title::first-letter{
    text-transform:capitalize ;
}
.header .header-description{
    padding-top: 1em;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    color:var(--descriptions-color);
    font-size: 22px;
    text-align: center;
}
.header .header-description::first-letter{
    text-transform:capitalize ;
}
.header .header-actions{
    padding-top: 2em;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header .header-actions a{
    text-decoration: none;
    color:white;
    padding: 1em 3em;
    border-radius: 25px;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
}

.header .header-actions .btn-download-ios {
    background-color: hsl(171, 66%, 44%);
}
.header .header-actions .btn-download-mac {
    background-color: hsl(233, 100%, 69%);
}
/* =========================== features ========================= */
.features{
    padding-top: 1em;
}
.features .features-title , .features-discription{
    text-align: center;
}
.features .features-title{
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    color:var(--titles-color);
    padding: 1em 1.8em 0;
} 
.features .features-discription{
    font-family: "Bai Jamjuree", sans-serif;
    color:var(--descriptions-color);
    font-size: 19px;
    padding: 1em 31em 0;

    
}
.features .features-discription::first-letter{
    text-transform:capitalize;
}
.features .features-content{
    display: flex;
    padding-top: 3em;
    gap: 5rem;
}
.features .features-content .features-img{
    height: 735px;
}
.features .features-content .features-list .list-item{
    padding-top:5.5em ;
}
.features .features-content .features-list .list-item .feature-name{
    text-transform: capitalize;
    font-family: "Bai Jamjuree", sans-serif;
    padding-bottom: .4em;
    color: var(--titles-color)
}
.features .features-content .features-list .list-item .feature-description{
    color:var(--descriptions-color);
    padding-right:35em ;
}
.features .features-content .features-list .list-item .feature-description::first-letter{
    text-transform:capitalize ;
}
.features .features-content .features-list .list-item:nth-of-type(2) .feature-name::first-letter {
    text-transform: none;
}
/* =========================== access ========================= */

.access{
    padding-top: 10rem;
    text-align: center;
    
}
.access .access-title{
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    color:var(--titles-color);
}
.access .access-description{
    padding-top:1em ;
    font-family: "Bai Jamjuree", sans-serif;
    color:var(--descriptions-color);
    font-size: 19px;
}
.access .access-img{
    padding-top: 5em;
}
/* =========================== workflow ========================= */

.workflow{
    padding-top: 4.5em;
    text-align: center;
}
.workflow .workflow-title{
     font-family: "Bai Jamjuree", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    color:var(--titles-color);
}
.workflow .workflow-description{
    padding-top:1em ;
    font-family: "Bai Jamjuree", sans-serif;
    color:var(--descriptions-color);
    font-size: 19px;
}
.workflow .cards{
    padding-top:5em ;
    display: flex;
    justify-content: center;
    gap:2rem;
}
.workflow .cards .card-logo{
    padding-bottom: 2em;
}
.workflow .cards .card-title{
    font-family: "Bai Jamjuree", sans-serif;
    padding-bottom: .4em;
    color: var(--titles-color);
    font-size:1.3rem;
}
.workflow .cards .card-description{
    padding-top:1em ;
    font-family: "Bai Jamjuree", sans-serif;
    color:var(--descriptions-color);
    font-size: 1rem;
    line-height: 1.6;
}
.workflow .cards .card-description::first-letter{
    text-transform: capitalize;
}
.workflow .workflow-logos{
    padding-top: 10em;
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.workflow .workflow-logos img{
    height: 35px;
}
.workflow .workflow-logos .hp{
    height: 60px;
}
/* =========================== footer ========================= */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:4.5em;
}

.footer .footer-title{
    padding-top: 1em;
    font-size: 3rem;
    font-weight: 600;
    font-family: "Bai Jamjuree", sans-serif;
    color: var(--titles-color);
}

.footer .footer-description{
    padding-top: 1em;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    color:var(--descriptions-color);
    font-size: 22px;
    text-align: center;
}
.footer .footer-description::first-letter{
    text-transform:capitalize ;
}
.footer .footer-actions{
    padding-top: 2em;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 10rem;
}
.footer .footer-actions a{
    text-decoration: none;
    color:white;
    padding: 1em 3em;
    border-radius: 25px;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
}

.footer .footer-actions .btn-download-ios {
    background-color: hsl(171, 66%, 44%);
}
.footer .footer-actions .btn-download-mac {
    background-color: hsl(233, 100%, 69%);
}
.footer .footer-nav{
    display: flex;
    align-items: center;
    background-color:#f5f6f8;
    width:100%;
    height: 150px;
    justify-content: center;
    gap: 25em;
    position: relative;
}
.footer .footer-nav .footer-logo{
    height: 50px;
}
.footer .footer-nav .nav-items{
    position: relative;
    right:280px;
}
.footer .footer-nav .nav-items ul{
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, auto));
    gap: 1em 2em; 
    list-style: none;
}
.footer .footer-nav .nav-items ul li a{
    text-decoration: none;
    color: var(--descriptions-color);
    font-family: "Bai Jamjuree", sans-serif;
    font-size: .9rem;
}
.footer .footer-nav .nav-items ul li a:hover{
    text-decoration: underline;
}
.footer .footer-nav .footer-social img{
    padding-left:1em ;
}

/* ============================================================ */
/* ==============mobile==================== */
@media screen and (max-width:440px) {
    /* ========header======= */
    .header .header-img{
        height: 80px;
    }
    .header .header-title{
        font-size: 1.1rem;
        text-align: center;
        padding-top: 1.5em;
    }
    .header .header-description{
        font-size: .6rem;
    }
    .header .header-actions{
        flex-direction: column;
        gap:.5rem;
    }
    .header .header-actions a{
    text-decoration: none;
    color:white;
    padding: .7em 3.5em;
    border-radius: 25px;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-size: .7rem;
    }   
    /* =========features============ */
    .features .features-title{
        font-size: 1.8rem;
    }
    .features .features-discription{
        font-size: 1rem;
        padding: 1.2em 1.5em;
    }
    .features .features-content{
        flex-direction: column;
        gap:1rem;
        align-items: center;
    }
    .features .features-content .features-img{
        height: 250px;
        width: auto;
    }
    .features .features-content .features-list .list-item{
        text-align: center;
    }
    .features .features-content .features-list .list-item .feature-description{
        padding: 0 1.9em;
    }
    .access .access-description{
        padding: 1em  1.3em 0;
        font-size: 1rem;
    }
    .access .access-img{
        height: 200px;
    }
    /* ===============workflow=============== */
    .workflow .cards{
        flex-direction: column;
    }
    .workflow .cards .card-description{
        padding: 1em 1.4em 0;
        font-size: 1rem;
    }
    .workflow .workflow-logos{
        gap: 6rem;
        flex-direction: column;
        padding: 4em 6em 0;
    }
    /* ============footer========== */
    .footer .footer-title{
        font-size: 1.8rem;
        text-align: center;
        padding: 4.5em 1em 0;
    }
    .footer .footer-description{
        font-size: 1rem;
        padding: 1em 1.7em 0;
    }
    .footer .footer-actions{
        flex-direction: column;
        gap:.5rem;
    }
    .footer .footer-actions a{
        text-decoration: none;
        color:white;
        padding: .7em 3.5em;
        border-radius: 25px;
        font-family: "Bai Jamjuree", sans-serif;
        font-weight: 600;
        font-size: .7rem;
    }   
    .footer .footer-nav{
        flex-direction: column;
        gap:1rem;
        height: auto;
    }
    .footer .footer-nav .footer-logo{
        padding-top:2em ;
    }
    .footer .footer-nav .nav-items{
        right:0;
    }
    .footer .footer-nav .nav-items ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2em 0;
    }
    .footer .footer-nav .footer-social img{
        padding-bottom:1.5em ;
    }

}